API_VERSION=v1
PORT=8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=tristar
DB_PASSWORD=tristar333
DB_NAME=cinvoice
DB_SSLMODE=disable
DB_MAX_CONNS=20

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=jrj)AGXM$80Sig85K7ZwMNpX2n%S)@!F
JWT_EXPIRY=15m
REFRESH_EXPIRY=168h

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

RATE_LIMIT_RPS=10
RATE_LIMIT_BURST=20

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="user=tristar password=tristar333 dbname=cinvoice sslmode=disable"
GOOSE_MIGRATION_DIR=./db/migrations

